@tailwind base;
@tailwind components;
@tailwind utilities;

/* npx tailwindcss -i ./src/input.css -o ./src/output.css --watch */


body {
    font-family: "Roboto Condensed", "Noto Sans JP", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}
