@tailwind base;
@tailwind components;
@tailwind utilities;

/* npx tailwindcss -i ./src/input.css -o ./src/output.css --watch */


body {
    font-family: "Roboto Condensed", "Noto Sans JP", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.prose a {
  overflow-wrap: anywhere; /* modern browsers */
  word-break: break-word;  /* fallback */
  hyphens: auto;           /* optional */
  color: #E7685D;      /* Tailwind blue-600 */
}